*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
background-color: aquamarine;
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: normal;
    text-align: center;
}
}
.container{
    margin: 2px;
    background-color: aliceblue;
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.bt1{
padding-inline: 2rem;
padding-block: 1rem;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 900;

}

.con1{
    background-color: rgb(44, 32, 18);
    width: 100%;
    margin:0.5rem;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    gap: 2rem;

    p{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 800;
color: #fff;

    }
}

.con2{
    background-color: rgb(145, 99, 43);
    width: 100%;
    margin:0.5rem;

    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    gap: 2rem;
}
.bt2{
    padding-inline: 2rem;
padding-block: 1rem;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 900;

}
#hh{
    text-align: center;
}