*{
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: sans-serif;
    background-color: beige;
}
header{
    width: 100%;
    height: 13rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    line-height: 1.5;
    
}
.logo{
    font-size: x-large;
    font-family: cursive;
    display: block;
    font-weight: 800;


}
.content{
    margin-left: 3rem;


    span{
        color: rgb(138, 41, 57);
    }
}




.main{

    background-color: burlywood;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    
    padding: 10rem;
}


.circle
{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -2rem;
    left: 3rem;
    display: flex;
    

    
    img{
        object-fit: cover;

        
    }


}

.pop-up-cont
{
    position: fixed;
}
  .wem{
    border: 2px solid salmon;
    border-radius: 10px;
    text-decoration: wavy;
    position: absolute;
    right: 3rem;
    cursor: pointer;
    font-size: 16px;
    padding: 1rem;
}

.card
{
    background-color: beige;
    height: 30rem;
    width: 60rem;
    border-radius: 55px;
    display: flex;
    flex-direction: column;
    padding: 10rem;
     z-index: 3;
    box-shadow: 0 5px 2px 0 rgba(0,0,0,0.3);
   
    transform: scale(0);
   
    h1{
        text-align: end;
        margin-right: 3rem;
        font-size: 3rem;
    }
   
    p{
        font-size: 1rem;
        position: absolute;
        top : 15rem;
        left: 27rem;        
    }



}
 .open{
/*  */
transform: scale(1);
transition: 1.8s;
gap: 1rem;

}


.overlay{

    display: none;
    position: fixed;
    inset: 0;
    border-color: rgba(0, 0, 0, 0.568);
    z-index: 1;
}

/*  */
.close-icon {
    position: absolute;
    right:2rem;
    font-weight: 700;
    font-size: 48px;
    cursor: pointer;
    top: 1.9rem;

   
    
}

.txtbox
{
    align-self: center;
    justify-content: end;
    gap: 0;
    position: absolute;
    bottom: 5rem;
    height: 4rem;
    width: 40rem;
    left: 12rem;
 
}

.txtbox .input{
      
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      height: inherit;
      width: 26rem;


}

.button{
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: burlywood;
        height: inherit;
      width: 10rem;


}